doctype html
link(rel='icon', type='image/png', href='/images/logo.png')
html
    head
      link(href='/stylesheets/addcall.css', rel='stylesheet')
      title Nueva Convocatoria
    body
    #header
      a(href="http://localhost:3000/explore")
        img(src="/images/logo.png")
      
      h1= title
     
    #Intructions
      
      h1 Ingresa los datos

    #fill
      form#formAddCol(name="addcall",method="post",action="/addcall")
        
        #mail
          p Título
          input#inputTitle(type="text",placeholder="Movilidad ", name="title")
        
        #password
          p Institución
          input#inputInstitution(type="text", placeholder="Ej. Universidad de Guanajuato", name="institution")
        
        #date
          p Fecha límite
          input#inputLimitDate(type="date", placeholder="dd-mm-yyyy", name="limited_date")
        
        #description
          p Descripción
          input#inputDescription(type="text", cols=40, rows=5, placeholder="Description", name="description")
        #submit
          button#btnSubmit(type="submit") Aceptar
          a(href="http://localhost:3000/explore") Cancelar

    #docscontainer
      form#formAddDocs(name="addcall", method="post", action="/addcall")
       
        //#docbox
        //  p

        #newdocbox
          button#btnNewDocBox(type="newdocbox") 

