doctype html
link(rel='icon', type='image/png', href='/images/logo.png')
html
    head
      link(href='/stylesheets/addcall.css', rel='stylesheet')
      script(src='/scripts/addcall.js')
      title Nueva Convocatoria
      //-script(src='/routes/addremove.js')
      //-script(src='/routes/addnew.js')
  
    body
      #header
        a(href="http://localhost:3000/explore")
          img(src="images/logo.png")
        h1= title
      
     
      #Intructions
      
        h1 Rellena todos los campos
      
      #squarebox
        #fill
          form#formAddCol(name="addcall",method="post",action="/addcall",required)
          
            #mail
              p Título
              input#inputTitle(type="text",placeholder="Movilidad ", name="title", pattern="[A-Za-z]+[A-Za-z\ñ ]{0,20}" title="Solo se permiten letras", required)
            
            #password
              p Institución
              input#inputInstitution(type="text", placeholder="Ej. Universidad de Guanajuato",pattern="[A-Za-z]+[A-Za-z\ñ ]{0,20}" title="Solo se permiten letras", name="institution",required)
            
            #date
              p Fecha límite
              input#inputLimitDate(type="date", placeholder="dd-mm-yyyy", name="limited_date",required)
            
            #description
              p Descripción
              input#inputDescription(type="text", cols=40, rows=5, placeholder="Description", name="description", pattern="[A-Za-z]+[A-Za-z\ñ ]{0,20}", title="Solo se permiten letras",required)
            
            #submit
              button#btnSubmit(type="submit") Aceptar
              a(href="http://localhost:3000/explore") Cancelar
    
        #doccontainer
          h3 Documentos a solicitar
          button#add(type='button', onclick="agregar(this)") Agregar casilla
          button#remove(type='button', onclick="remove(this)") Eliminar casilla
          input(name='doc1', type='text', class='document', placeholder='Nombre de documento', form='formAddCol') 
          #documents
