doctype html
html
    head
      link(href='/stylesheets/addcall.css', rel='stylesheet')
      title Nueva Convocatoria
    body
    #header
      h1= title
    #Intructions
      h1 Ingresa los datos

    #fill
      form#formAddCol(name="addcall",method="post",action="/addcall")
        
        #mail
          p Correo
          input#inputTitle(type="text",placeholder="Ej. email@example.com ", name="mail")
        
        #password
          p Institución
          input#inputInstitution(type="text", placeholder="Ej. Universidad de Guanajuato", name="institution")
        
        #date
          p Fecha límite
          input#inputLimitDate(type="date", placeholder="dd-mm-yyyy", name="limited_date")
        
        #description
          p Descripción
          input#inputDescription(type="text", cols=40, rows=5, placeholder="Description", name="description")
        #submit
          button#btnSubmit(type="submit") Aceptar
          a(href="http://localhost:3000/explore") Cancelar
