doctype html
link(rel='icon', type='image/png', href='/images/logo.png')
html
    head
      link(href='/stylesheets/addcall.css', rel='stylesheet')
      title Nueva Convocatoria
      script(src='/routes/addremove.js')

      //-script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
      //-script.
          var i = 0;
          $('#incrementa').click(function(){  
            if (i < 20 ) { /*Cambiar el >= 0 por < 10 si quieres limitar el incremento*/
                i++;
              } else if (i = i++) {
                i = 0;
              }
              document.getElementById("display").innerHTML = i;
          })
          $('#disminuye').click(function(){ 
            if (i > 0) {--i;} 
              document.getElementById("display").innerHTML = i;
          })
  
    body
      #header
        a(href="http://localhost:3000/explore")
          img(src="images/logo.png")
        h1= title
      
     
      #Intructions
      
        h1 Ingresa los datos

      .texto
        label#display 0
      .group-buttons
        a#incrementa.button-link(href='#') Aumenta
        a#disminuye.button-link(href='#') Disminuye

      #squarebox
        #fill
          form#formAddCol(name="addcall",method="post",action="/addcall",required)
          
            #mail
              p Título
              input#inputTitle(type="text",placeholder="Movilidad ", name="title",required)
          
            #password
              p Institución
              input#inputInstitution(type="text", placeholder="Ej. Universidad de Guanajuato", name="institution",required)
          
            #date
              p Fecha límite
              input#inputLimitDate(type="date", placeholder="dd-mm-yyyy", name="limited_date",required)
          
            #description
              p Descripción
              input#inputDescription(type="text", cols=40, rows=5, placeholder="Description", name="description",required)

            #reqdoc
              a(href="http://localhost:3000/reqdoc") Documentación requerida
          
            #submit
              button#btnSubmit(type="submit") Aceptar
              a(href="http://localhost:3000/explore") Cancelar
    
        #doccontainer
          p Nombre del archivo
          p Numero de: #{i}
          ol
            li List item 1
            li List item 2
            li List item 3
          //-.texto
            label#display 0
          //-.group-buttons
            a#incrementa.button-link(href='#') Aumenta
            a#disminuye.button-link(href='#') Disminuye
        
          #buttons
            #addinput
              form#formAddInput(name="addcalladd", method="post", action="/addcalladd")
                button#btnAddInput(type="addinput") +
        
            #deleteinput
              //-form#formDeleteInput(name="reqdocdelete",method="post",action="/reqdocdelete")
              button#btnDeleteInput(type="deleteinput") -
        
