doctype html
link(rel='icon', type='image/png', href='/images/logo.png')
html
    head
      link(href='/stylesheets/addcall.css', rel='stylesheet')
      title Nueva Convocatoria
      //-script(src='/routes/addremove.js')
      script(src='/routes/addnew.js')
  
    body
      #header
        a(href="http://localhost:3000/explore")
          img(src="images/logo.png")
        h1= title
      
     
      #Intructions
      
        h1 Ingresa los datos
      
      //-#counter
        .texto
          label#display 0
        .group-buttons
          a#incrementa.button-link(href='#') Aumenta
          a#disminuye.button-link(href='#') Disminuye

      #squarebox
        #fill
          form#formAddCol(name="addcall",method="post",action="/addcall",required)
          
            #mail
              p Título
              input#inputTitle(type="text",placeholder="Movilidad ", name="title", pattern="[A-Za-z]+[A-Za-z\ñ ]{0,20}" title="Solo se permiten letras", required)
            
            #password
              p Institución
              input#inputInstitution(type="text", placeholder="Ej. Universidad de Guanajuato",pattern="[A-Za-z]+[A-Za-z\ñ ]{0,20}" title="Solo se permiten letras", name="institution",required)
            
              #date
                p Fecha límite
                input#inputLimitDate(type="date", placeholder="dd-mm-yyyy", name="limited_date",required)
            
            #description
              p Descripción
              input#inputDescription(type="text", cols=40, rows=5, placeholder="Description", name="description", pattern="[A-Za-z]+[A-Za-z\ñ ]{0,20}" title="Solo se permiten letras",required)

              #reqdoc
                a(href="http://localhost:3000/reqdoc") Documentación requerida
          
            #submit
              button#btnSubmit(type="submit") Aceptar
              a(href="http://localhost:3000/explore") Cancelar
    
        #doccontainer
          p Nombre del archivo
          p Numero de: #{i}
          ol
            li List item 1
            li List item 2
            li List item 3
        
          button.add_field_button(type='button') Add Field
          button.remove_field_button(type='button') Remove Field
          .input_fields_wrap
            input.field-long(type='text', name='answer[]')

          //-#buttons
            #addinput
              form#formAddInput(name="addcalladd", method="post", action="/addcalladd")
                button#btnAddInput(type="addinput") +
        
            #deleteinput
              //-form#formDeleteInput(name="reqdocdelete",method="post",action="/reqdocdelete")
              button#btnDeleteInput(type="deleteinput") -
        
