doctype html
link(rel='icon', type='image/png', href='/images/logo.png')
html
    head
      link(href='/stylesheets/adduser.css', rel='stylesheet')
      title Nueva Usuario
    body

    #header
      a(href="http://localhost:3000/explore")
        img(src="/images/logo.png")
      h1= title
      a(href="http://localhost:3000/login") Ingresar 

    #instructions
      h1 Ingresa tus datos
    #fill
      
      form#formData(name="adduser",method="post",action="/adduser",required)
        #name
          p Nombre
          input#inputName(type="text", placeholder="Antonio", name="name", pattern="[A-Za-z ]{0,20}" title="Solo se permiten letras", required)
        #lastname
          p Apellido
          input#inputLastname(type="text", placeholder="Alvarez", name="lastname",required)
        #username
          p Username
          input#inputUsername(type="text", placeholder="antonio98", name="username",required)
        #email
          p E-mail
          input#inputemail(type="email",  placeholder="ejemplo@mail.com", name="email",required)
        #password
          p Contraseña
          input#inputPassword(type="password",  placeholder="Nueva contraseña", name="password",required)
          p Confirmar contraseña
          input#inputRepeatPassword(type="password",  placeholder="Confirmar contraseña", name="repeatpassword",required)
        #institution
          p Institución
          input#inputInstitution(type="text",  placeholder="Universidad de Guanajuato", name="institution",required)
        #rol
          p Tipo de Usuario
          input#inputAdmin(type="checkbox", name="rol")
          Thing#a Administrador
          br
        #submit
          a(href="http://localhost:3000/") Cancelar
          button#btnSubmit(type="submit") Aceptar
