doctype html
link(rel='icon', type='image/png', href='/images/logo.png')
html
    head
      meta(name='viewport', content='width=device-width, initial-scale=1')
      style.
      link(href='/stylesheets/descrStyle.css', rel='stylesheet')
<<<<<<< HEAD
      script(src='/scripts/description.js')
=======
      script(src='/scripts/sendeddocs.js')
>>>>>>> a9f167353a54a9b16b76caec941d2182725d3adb
      title Descripción
    body
    #header
    
      a(href="http://localhost:3000/explore")
        img(src="/images/logo.png")
      h1 Descripción
      a#logout(href="http://localhost:3000/") Log out
      
    #conv
      a(href="http://localhost:3000/addcall") Agregar Convocatoria
    
    #callcontainer
      each call, i in calls
          #call
            h3 #{call.title}
            p #{call.institution}
            p límite: #{call.limited_date}
<<<<<<< HEAD

    #userdrop
      .search_categories
        .select
          select#search_categories(name='search_categories')
            option(value='1', selected='selected') Jonathan Ortega
            |           
            option(value='2') Jose Mar
            |           
            option(value='3') Alan Alvarez
            |           
            option(value='4') Luis Salgado
            |           
            option(value='5') Diego Rosas
            |           
            option(value='6') Christian Vergas

    #docdrop
      .search_categories
        .select
          select#search_categories(name='search_categories', onchange='update(this)')
            option(value='1', selected='selected') CURP
            |           
            option(value='2') Acta de nacimiento
            |           
            option(value='3') Comprobante de domicilio
            |           
            option(value='4') Identificación

    #docimage
      div(style='text-align:center')
        h2 Tabbed Image Gallery
        |   
        p Click on the images below:
      // The four columns
      .row
        .column
          img(src='/images/curp.png', alt='Curp', style='width:auto', onclick='myFunction(this);')
        |   
        .column
          img(src='/images/acta.jpg', alt='Acta', style='width:auto', onclick='myFunction(this);')
        |   
        .column
          img(src='/images/ine.png', alt='INE', style='width:auto', onclick='myFunction(this);')
        |   
        .column
          img(src='/images/recibo.jpg', alt='recibe', style='width:auto', onclick='myFunction(this);')
      .container
        span.closebtn(onclick="this.parentElement.style.display='none'") &times;
        |   
        img#expandedImg(style='width:100% height:200%')
        |   
        #imgtext
=======
    
    #descr
    #adddocs
      button#uploaddoc(onclick="uploaddoc()" ) Subir Documentos
>>>>>>> a9f167353a54a9b16b76caec941d2182725d3adb
