doctype html
link(rel='icon', type='image/png', href='/images/logo.png')
html
    head
      link(href='/stylesheets/descrStyle.css', rel='stylesheet')
      title Descripción
    body
    #header
    
      a(href="http://localhost:3000/explore")
        img(src="/images/logo.png")
      h1 Descripción
      a(href="http://localhost:3000/") Log out
      
    #conv
      a(href="http://localhost:3000/addcall") Agregar Convocatoria
    
    #callcontainer
      each call, i in calls
          #call
            h3 #{call.title}
            p #{call.institution}
            p límite: #{call.limited_date}
    
    #descr

          
