doctype html
link(rel='icon', type='image/png', href='/images/logo.png')
html
    head
      link(href='/stylesheets/edituserStyle.css', rel='stylesheet')
      title Editar Usuario
    body

    #header
      a(href="http://localhost:3000/explore")
        img(src="/images/logo.png")
      h1= title
      //-a(href="http://localhost:3000/login") Ingresar 

    #instructions
      h1 Ingresa los datos
    #fill
      
      form#formData(name="adduser",method="post",action="/adduser")
        #name
          p Nombre
          input#inputName(type="text", placeholder="Antonio", name="name")
        #lastname
          p Apellido
          input#inputLastname(type="text", placeholder="Alvarez", name="lastname")
        #username
          p Username
          input#inputUsername(type="text", placeholder="antonio98", name="username")
        #email
          p E-mail
          input#inputemail(type="mail",  placeholder="ejemplo@mail.com", name="email")
        #password
          p Contraseña
          input#inputPassword(type="password",  placeholder="Nueva contraseña", name="password")
          p Confirmar contraseña
          input#inputRepeatPassword(type="password",  placeholder="Confirmar contraseña", name="repeatpassword")
        #institution
          p Institución
          input#inputInstitution(type="text",  placeholder="Universidad de Guanajuato", name="institution")
        //-#rol
          p Tipo de Usuario
          input#inputAdmin(type="checkbox", name="rol")
          Thing#a Administrador
          br
        #submit
          a(href="http://localhost:3000/") Cancelar
          button#btnSubmit(type="submit") Confirmar



