doctype html
html
    head
      link(href='/stylesheets/exploreStyle.css', rel='stylesheet')
      title Explore
    body
    #header
      h1 Explore 
    p Esta es la lista de convocatorias existentes.
    a(href="http://localhost:3000/addcall") Agregar Convocatoria
    each call, i in calls 
      #call
        h3 #{call.title}
        p #{call.institution}
        p límite: #{call.limited_date}
