doctype html
link(rel='icon', type='image/png', href='/images/logo.png')
html
    head
      link(href='/stylesheets/exploreStyle.css', rel='stylesheet')
      title Explore
      
      

    body
    #header
      
      a(href="http://localhost:3000/explore")
        img(src="/images/logo.png")
      h1 Explore 
      a(href="http://localhost:3000/") Log out
      
    #descr
      p Convocatorias existentes.
      a(href="http://localhost:3000/addcall") Agregar Convocatoria
    
    #callcontainer
      each call, i in calls 
        #call
          h3 #{call.title}
          p #{call.institution}
          p límite: #{call.limited_date}
