doctype html
html
    head
      link(href='/stylesheets/exploreStyle.css', rel='stylesheet')
      title Explore
    body
    #header
      img(src="/images/logo.png")
      h1 Explore 
    #descr
      p Convocatorias existentes.
      a(href="http://localhost:3000/addcall") Agregar Convocatoria
    
    #callcontainer
      each call, i in calls 
        #call
          h3 #{call.title}
          p #{call.institution}
          p límite: #{call.limited_date}
