doctype html
link(rel='icon', type='image/png', href='/images/logo.png')
html
    head
      link(href='/stylesheets/homeStyle.css', rel='stylesheet')
      title PaperLess
      
    body
    #header
      a#signin(href="http://localhost:3000/adduser") Sign In
      a#login(href="http://localhost:3000/login") Log In
      #Home
        img(src="/images/logo.png")
        h1 PaperLess
        
      h2 Ecological yet practical
      #button
        a.actionBtn5(href="http://localhost:3000/explore")
          span.hover
            span.txt EXPLORAR

    #homecontainer
      #eco
        h1 Ecológico 
        .box.actionImg2
          img(src="/images/eco.jpg", alt='This image is a css3 example image.')
          | &#x9;
          .hover
            .sub_tit ¡Adiós al papel innecesario!

      #fast
        h1 Rápido 
        .box.actionImg2
          img(src="/images/fast.jpg", alt='This image is a css3 example image.')
          | &#x9;
          .hover
            .sub_tit ¡Todo en un solo clic!

      #org
        h1 Organizado  
        .box.actionImg2
          img(src="/images/org.jpg", alt='This image is a css3 example image.')
          | &#x9;
          .hover
            .sub_tit ¡Desde la comodidad del hogar!
    
    #Paperdescr
      .txt_view.actionTxtType9
        .paragraph_txt.left_txt
          em
            | ¿Qué es 
            br
            | PaperLess?
          | &#x9;&#x9;
          p Es un sitio en el cual todas las organizaciones pueden publicar convocatorias.
        | &#x9;
        .paragraph_txt.right_txt
          em
            | ¿Para qué
            br
            | lo usamos?
          | &#x9;&#x9;
          p Es usada para

    #Group
      
      #empresa
        .box.actionImg6
          img(src="/images/empresa.jpg")
          | &#x9;
          .social_bg
          | &#x9;
          .social_box
            a.facebook(href="https://www.facebook.com/Wixtempla/")
              span facebook
              | &#x9;&#x9;
            a.twitter(href="https://twitter.com/wixtempla")
              span twitter
              | &#x9;&#x9;
            a.google(href="https://www.youtube.com/watch?v=dQw4w9WgXcQ")
              span google
      
      #wixtempla
        h1 ¿Quiénes somos?
        h2 Wixtempla
        p This text is styled with some of the text formatting properties. The heading uses the text-align, text-transform, and color properties. The paragraph is indented, aligned, and the space between characters is specified. The underline is removed from this colored
       
    #last
      img(src="/images/esr.png")
      #ug
        img(src="/images/ug.png")
      #github
        img(src="/images/github.png")


   

    
