doctype html
html
    head
      link(href='/stylesheets/homeStyle.css', rel='stylesheet')
      title PaperLess
    body
    #header
      img(src="/images/logo.png")
      h1 PaperLess
    #descr
      p Aquí podrás crear convocatorias para poder compartirlas con otros usuarios.
      a(href="http://localhost:3000/explore") Explore