extends layout

block content
  h1= title
  h2 Bienvenido a PaperLess. 
  p Aquí podrás crear convocatorias para poder compartirlas con otros usuarios. 
  a(href="http://localhost:3000/explore") Explore
  
