doctype html
html
    head
      link(href='/stylesheets/homeStyle.css', rel='stylesheet')
      title PaperLess
      
    body
    #header
      a(href="http://localhost:3000/adduser") Sign In
      #Home
        
        img(src="/images/logo.png")
        h1 PaperLess
        
      h2 Ecological yet practical
      #button
        a.actionBtn5(href="http://localhost:3000/explore")
          span.hover
            span.txt EXPLORAR

    #homecontainer
      #eco
        h1 Ecológico 
        img(src="/images/eco.jpg")
      #fast
        h1 Rápido 
        img(src="/images/fast.jpg")
      #org

        h1 Organizado  
        img(src="/images/org.jpg")
     
