doctype html
html
    head
      link(href='/stylesheets/homeStyle.css', rel='stylesheet')
      title PaperLess
    body
    #header
      #Home
        img(src="/images/logo.png")
        h1 PaperLess
      h2 Ecological yet practical
      #button
        a.actionBtn5(href="http://localhost:3000/explore")
          span.hover
            span.txt EXPLORAR

    #homecontainer
      h1 Ecológico
      h2 Rápido
      h3 Organizado
     
