doctype html
html
    head
      link(href='/stylesheets/addcall.css', rel='stylesheet')
      title Log in
    body
    #header
      h1= title
    #Intructions
      h1 Log in

    #fill
      form#formAddCol(name="addcall",method="post",action="/addcall")
        
        #mail
          p Correo
          input#inputTitle(type="text", name="mail")
        
        #password
          p Contraseña
          input#inputInstitution(type="text", name="password")
        
        #submit
          button#btnSubmit(type="submit") Aceptar
          a(href="http://localhost:3000/explore") Cancelar
