doctype html
link(rel='icon', type='image/png', href='/images/logo.png')
html
    head
      link(href='/stylesheets/loginStyle.css', rel='stylesheet')
      title Log in
    body
    #header
      a(href="http://localhost:3000/explore")
        img(src="/images/logo.png")
  
    #box
      #fill
        #Intructions
          h1 Log in
        form#formAddCol(name="login",method="post",action="/login")
          
          #mail
            p Correo 
            input#inputTitle(type="email", name="email", required)
          
          #password
            p Contraseña
            input#inputInstitution(type="password", name="password",pattern="[A-Za-z0-9\-\_\ñ]{8,20}" title="Minimo 8 letras o números", required)
          
          #submit
            a(href="http://localhost:3000") Cancelar
            button#btnSubmit(type="submit") Aceptar
