doctype html
html
    head
      link(href='/stylesheets/loginStyle.css', rel='stylesheet')
      title Log in
    body
    #header
      img(src="/images/logo.png")
  
    #box
      #fill
        #Intructions
          h1 Log in
        form#formAddCol(name="addcall",method="post",action="/addcall")
          
          #mail
            p Correo 
            input#inputTitle(type="text", name="email")
          
          #password
            p Contraseña
            input#inputInstitution(type="password", name="password")
          
          #submit
            a(href="http://localhost:3000") Cancelar
            button#btnSubmit(type="submit") Aceptar
