doctype html
link(rel='icon', type='image/png', href='/images/logo.png')
html
    head
      link(href='/stylesheets/reqdocStyle.css', rel='stylesheet')
      title Documentación Requerida
    body
    #header
      a(href="http://localhost:3000/explore")
        img(src="/images/logo.png")
      
      h1= title
     
    #Intructions
      
      h1 Ingresa los datos


