doctype html
link(rel='icon', type='image/png', href='/images/logo.png')
html
    head
      link(href='/stylesheets/reqdocStyle.css', rel='stylesheet')
      title Documentacion Requerida
    body
    #header
      a(href="http://localhost:3000/explore")
        img(src="/images/logo.png")
      
      h1 Documentación Requerida
     
    #Intructions
      h1 Señale cuales son los documentos requeridos

    #reqdoccontainer
        each doc, i in reqdocspace
            input#inputdocument(type="text",placeholder="Documento#{i}", name="document#{i}")
            br
    
    #button
