doctype html
link(rel='icon', type='image/png', href='/images/logo.png')
html
    head
        link(href='/stylesheets/reqdocStyle.css', rel='stylesheet')
        title Documentacion Requerida
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script.
            $(document).ready(function() {
            $("#btnAddInput").click(function() {
                $("ol").append("<li> ok </li>");
                });
            });
    body
        #header
            a(href="http://localhost:3000/explore")
                img(src="/images/logo.png")
        
            h1 Documentación Requerida
        
        #Intructions
            h1 Señale cuales son los documentos requeridos

        //-#reqdoccontainer
            each doc, i in reqdocspace
                input#inputdocument(type="text",placeholder="Documento #{i+1}", name="document#{i}")
                br
        #example
            ol
                li List item 1
                li List item 2
                li List item 3

            //-input#inputdocument(type="text",placeholder="Documento", name="document")
               
        #buttons
            #addinput
                //-form#formAddInput(name="reqdocadd",method="post",action="/reqdocadd")
                button#btnAddInput(type="addinput") +
        
            #deleteinput
                //-form#formDeleteInput(name="reqdocdelete",method="post",action="/reqdocdelete")
                button#btnDeleteInput(type="deleteinput") -
        

        #submit
            button#btnSubmit(type='Submit') Aceptar
            a(href="http://localhost:3000/explore") Cancelar

